*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
load.rb
.irbrc
*~
*\.\#*
*\#
*.mp4
test.rb
.tags
.gemtags
api_envs.yml
.DS_Store
spec/support/vid2.mov