---
http_interactions:
- request:
    method: post
    uri: https://vzaar.com/api/subtitle/upload.xml
    body:
      encoding: UTF-8
      string: |2
                  <?xml version="1.0" encoding="UTF-8"?>
                  <vzaar-api>
                    <subtitle>
                      <language>en</language>
                      <video_id>1627985</video_id>
                      <body>SRT api</body>
                    </subtitle>
                  </vzaar-api>
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_body_hash="xibTQvtRg%2B8j%2BF2FAJY%2FwqIZJEI%3D", oauth_nonce="3FnOpJzb62vT6f4I4SVnhUtEWg20m95umYOb7mWt4M",
        oauth_signature="OVGYQkYyvuy1TE7AYCtdiXTICmA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1401105485", oauth_token="vz-test1", oauth_version="1.0"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><vzaar-api><status>Accepted</status></vzaar-api>
  recorded_at: Mon, 26 May 2014 11:58:08 GMT
recorded_with: VCR 2.9.0
