---
http_interactions:
- request:
    method: post
    uri: https://vzaar.com/api/subtitle/upload.xml
    body:
      encoding: UTF-8
      string: |2
                  <?xml version="1.0" encoding="UTF-8"?>
                  <vzaar-api>
                    <subtitle>
                      <language>en</language>
                      <video_id>1519682</video_id>
                      <body>SRT api</body>
                    </subtitle>
                  </vzaar-api>
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_body_hash="Pvzgbsdols7jqFA83XETMFVwCl8%3D", oauth_nonce="nijdnfgdkfIqWUvLO0mfin1wYUmBGo",
        oauth_signature="tYeJpTJyivJnd2STkrejjIkysUoo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1400685103", oauth_token="vz-test1", oauth_version="1.0"
  response:
    status:
      code: 422
      message: ''
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="utf-8"?><vzaar-api><status>Failure</status><errors><user>Permission
        Denied: 106811/101210</user></errors></vzaar-api>'
  recorded_at: Wed, 21 May 2014 15:11:44 GMT
recorded_with: VCR 2.9.0
