---
http_interactions:
- request:
    method: delete
    uri: https://vzaar.com/api/videos/1405106.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_nonce="yJ7zSkXdZYwsD6sYChGX6oy4F7mPcRUwPsOhbijm8vQ", oauth_signature="%2B1t5JEuhB7N7%2FQtnSQhKlYHXr0U%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1424886142", oauth_token="api-test-user",
        oauth_version="1.0"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><vzaar-api><status>Failure</status><errors><video>Resource
        not found</video></errors></vzaar-api>
  recorded_at: Wed, 25 Feb 2015 17:42:23 GMT
recorded_with: VCR 2.9.0
