---
http_interactions:
- request:
    method: put
    uri: https://vzaar.com/api/videos/-1.xml
    body:
      encoding: US-ASCII
      string: ! "\n        <?xml version=\"1.0\" encoding=\"UTF-8\"?>\n        <vzaar-api>\n
        \     \n          <video>\n            <title>new title</title>\n            <description>some
        description</description >\n          </video>\n        </vzaar-api>\n      "
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_body_hash="EKM5xXo8GOGdljV3%2FA6TMQzzmnI%3D", oauth_nonce="CPhJe7E6KsEyz8KE9j0LG3ONN6MGqFfLZjEnnqEa8",
        oauth_signature="oVxZyY%2FeywR0tUF%2Bzd7TP90vAzw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1385138386", oauth_token="api-test-user", oauth_version="1.0"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<!DOCTYPE html>\n<html>\n<head>\n\n\t<title>404 Error - Page Not
        Found | vzaar.com</title>\n\t\n\t<link rel=\"stylesheet\" href=\"/stylesheets/reset.css\">\n\t<link
        rel=\"stylesheet\" href=\"/stylesheets/404.css\">\n\n        <script src=\"/javascripts/jquery.js\"
        type=\"text/javascript\"></script>\n        <script src=\"/javascripts/404.js\"
        type=\"text/javascript\"></script>\n\n</head>\n<body>\n\n\t<div class=\"contentWrapper\">\n\t\t<h1>404
        Error</h1>\n\t\t<h2>Page Not Found</h2>\n\t\t\n\t\t<div class=\"mainContentBlock\">\n\t\t\t<!--
        ROTATING IMAGES -->\n\t\t\t<img class=\"rotatavatorMsg rotationImg\" id=\"rotationImg1\"
        src=\"/images/error_pages/404_img1.png\">\n\t\t\t<img class=\"rotatavatorMsg
        rotationImg\" id=\"rotationImg2\" src=\"/images/error_pages/404_img2.png\">\n\t\t\t<img
        class=\"rotatavatorMsg rotationImg\" id=\"rotationImg3\" src=\"/images/error_pages/404_img3.png\">\n\t\t\t<img
        class=\"rotatavatorMsg rotationImg\" id=\"rotationImg4\" src=\"/images/error_pages/404_img4.png\">\n\t\t\t<img
        class=\"rotatavatorMsg rotationImg\" id=\"rotationImg5\" src=\"/images/error_pages/404_img5.png\">\n\t\t\t<img
        class=\"rotatavatorMsg rotationImg\" id=\"rotationImg6\" src=\"/images/error_pages/404_img6.png\">\n\t\t\t<img
        class=\"rotatavatorMsg rotationImg\" id=\"rotationImg7\" src=\"/images/error_pages/404_img7.png\">\n\t\t\t\t\n\t\t\t<!--
        ROTATING MESSAGES -->\n\t\t\t<div class=\"mainContentBlockMessage\">\n\t\t\t\t<h3
        class=\"rotatavatorMsg rotationText\" id=\"rotationText1\">the devil's in
        the detail</h3>\n\t\t\t\t<h3 class=\"rotatavatorMsg rotationText\" id=\"rotationText2\">For
        once, it's not IE's fault!</h3>\n\t\t\t\t<h3 class=\"rotatavatorMsg rotationText\"
        id=\"rotationText3\">Erm, this is awkward. Know any jokes?</h3>\n\t\t\t\t<h3
        class=\"rotatavatorMsg rotationText\" id=\"rotationText4\">Well, I bet you
        weren't expecting this</h3>\n\t\t\t\t<h3 class=\"rotatavatorMsg rotationText\"
        id=\"rotationText5\">developers, eh!</h3>\n\t\t\t\t<h3 class=\"rotatavatorMsg
     [...]
