---
http_interactions:
- request:
    method: post
    uri: https://vzaar.com/api/videos/1627985/generate_thumb.xml
    body:
      encoding: UTF-8
      string: |2
                  <?xml version="1.0" encoding="UTF-8"?>
                  <vzaar-api>
                    <video>
                      <thumb_time>3</thumb_time>
                    </video>
                  </vzaar-api>
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_body_hash="G%2FOl0Dp0PLu5u9b9YdmYz4d2ZBs%3D", oauth_nonce="75j3IWVpsmNRDYBRk47nuWh6xs1rWH1dEPOxoSWtzbY",
        oauth_signature="S90WxRByGMNc6qnVzB5Ql93ZcOw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1401110622", oauth_token="vz-test1", oauth_version="1.0"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><vzaar-api><status>Accepted</status></vzaar-api>
  recorded_at: Mon, 26 May 2014 13:23:43 GMT
recorded_with: VCR 2.9.0
