---
http_interactions:
- request:
    method: post
    uri: https://vzaar.com/api/videos/1519682/generate_thumb.xml
    body:
      encoding: UTF-8
      string: |2
                  <?xml version="1.0" encoding="UTF-8"?>
                  <vzaar-api>
                    <video>
                      <thumb_time>3</thumb_time>
                    </video>
                  </vzaar-api>
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_body_hash="G%2FOl0Dp0PLu5u9b9YdmYz4d2ZBs%3D", oauth_nonce="9RN0RM791Q5yvSuqbT1I1sAG2N3jVTQUtzUJ6pBKY",
        oauth_signature="A4M0VOyZt6EtUD0nWjbzsA%2FNYCI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1401110620", oauth_token="vz-test1", oauth_version="1.0"
  response:
    status:
      code: 422
      message: ''
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="utf-8"?><vzaar-api><status>Failure</status><errors><user>Permission
        Denied: 106811/101210</user></errors></vzaar-api>'
  recorded_at: Mon, 26 May 2014 13:23:42 GMT
recorded_with: VCR 2.9.0
