---
http_interactions:
- request:
    method: post
    uri: https://vzaar.com/api/v1.1/videos.xml
    body:
      encoding: US-ASCII
      string: ! "\n          <?xml version=\"1.0\" encoding=\"UTF-8\"?>\n          <vzaar_api><video><guid>vz37d1756fd5df47b4a10f0a622c282aed</guid><title>new
        video</title><description>a very long description</description><profile>2</profile><chunks>2</chunks></video></vzaar_api>\n
        \       "
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_body_hash="6mCvFZ6n%2BPVyBqMBemdiJ7%2Bqpjs%3D", oauth_nonce="COGtH6B1qLBIpd5VaYsi7sjIUI4btJVl0PRpyoEHMM",
        oauth_signature="9U7wF43Zygsabm21331xHRvG%2FWc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1456483464", oauth_token="api-test-user", oauth_version="1.0"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - ! '"865d7155b57909a92c8b68d1a17d2c93"'
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<vzaar-api>\n  <video>6337329</video>\n</vzaar-api>\n"
  recorded_at: Fri, 26 Feb 2016 10:44:28 GMT
recorded_with: VCR 2.9.2
