---
http_interactions:
- request:
    method: post
    uri: https://vzaar.com/api/videos
    body:
      encoding: US-ASCII
      string: ! "\n        <?xml version=\"1.0\" encoding=\"UTF-8\"?>\n        <vzaar-api>\n
        \         <video>\n            <guid>vze7355b904a904737ab0e9582045c78ff</guid>\n
        \           <title>new video</title>\n            <description>a very long
        description</description>\n            <profile>2</profile>\n      \n          </video>\n
        \       </vzaar-api>\n      "
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_body_hash="ooQCCT7npUHzfkH%2BLVUXYmyN0OQ%3D", oauth_nonce="iRi4ahKqCjXIpHEkDoZRA9jreHqlabEokf0d06MA",
        oauth_signature="7zH4DFt9oLo5u5Dgm9NHBe7RNwM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1385402287", oauth_token="api-test-user", oauth_version="1.0"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<vzaar-api>\n  <video>1407672</video>\n</vzaar-api>\n"
  recorded_at: Mon, 25 Nov 2013 17:58:10 GMT
recorded_with: VCR 2.7.0
