---
http_interactions:
- request:
    method: get
    uri: https://vzaar.com/api/videos/1403915.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_nonce="BQTFHnpE22QYjQ3enDgoUebsjj745GdpTcQWDX8c", oauth_signature="ZW1f51QbQWTQ87fjf40gNMreSYY%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1385056454", oauth_token="api-test-user",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - ! '"9204b7f6390fb758c8746d6d59999740"'
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"yes\"?>\n<oembed>\n
        <type>video</type>\n <version>1.0</version>\n <title>ej-xshiz-1.flv</title>\n
        <description>A very interesting description.</description>\n <author_name>api-test-user</author_name>\n
        <author_url>http://vzaar.com/users/api-test-user</author_url>\n <author_account>34</author_account>\n
        <provider_name>vzaar</provider_name>\n <provider_url>http://vzaar.com</provider_url>\n
        <video_url>http://view.vzaar.com/1403915/video</video_url>\n <thumbnail_url>http://view.vzaar.com/1403915/thumb</thumbnail_url>\n
        <thumbnail_width>120</thumbnail_width>\n <thumbnail_height>90</thumbnail_height>\n
        <framegrab_url>http://view.vzaar.com/1403915/image</framegrab_url>\n <framegrab_width>320</framegrab_width>\n
        <framegrab_height>256</framegrab_height>\n <html>\n  <![CDATA[<iframe allowFullScreen
        allowTransparency=\"true\" class=\"vzaar-video-player\" frameborder=\"0\"
        height=\"256\" id=\"vzvd-1403915\" mozallowfullscreen name=\"vzvd-1403915\"
        src=\"//view.vzaar.com/1403915/player\" title=\"vzaar video player\" type=\"text/html\"
        webkitAllowFullScreen width=\"320\"></iframe>]]>\n </html>\n <height>256</height>\n
        <width>320</width>\n <duration>16.92</duration>\n <video_status_id>2</video_status_id>\n
        <video_status_description>Active</video_status_description>\n <play_count>0</play_count>\n
        <renditions>\n  <rendition>\n   <type>sd</type>\n   <status_id>3</status_id>\n   <status>finished</status>\n  </rendition>\n  <rendition>\n   <type>hls</type>\n   <status_id>3</status_id>\n   <status>finished</status>\n  </rendition>\n </renditions>\n</oembed>\n"
  recorded_at: Thu, 21 Nov 2013 17:54:14 GMT
recorded_with: VCR 2.7.0
