---
http_interactions:
- request:
    method: get
    uri: https://vzaar.com/api/api-test-user/videos.xml?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_nonce="4436EtER8pmZgy78Ba1CDzElILntflJkqxtZDiljI", oauth_signature="RQ9zqS2dNIbsOlG2iJZE3OUyk8o%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1385049901", oauth_token="api-test-user",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - ! '"86fc2a1338e0498633d80bce98dcb456"'
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<videos type=\"array\">\n
        <video>\n  <version>1.0</version>\n  <id>1403915</id>\n  <status>Active</status>\n
        \ <status_id>2</status_id>\n  <title>ej-xshiz-1.flv</title>\n  <created_at>2013-11-21T10:12:49+00:00</created_at>\n
        \ <url>http://view.vzaar.com/1403915/video</url>\n  <thumbnail_url>http://view.vzaar.com/1403915/thumb</thumbnail_url>\n
        \ <play_count>0</play_count>\n  <user>\n   <author_name>api-test-user</author_name>\n
        \  <author_url>http://vzaar.com/users/api-test-user</author_url>\n   <author_account>34</author_account>\n
        \  <video_count>32</video_count>\n  </user>\n  <duration>16.92</duration>\n
        \ <height>256</height>\n  <width>320</width>\n </video>\n <video>\n  <version>1.0</version>\n
        \ <id>1403914</id>\n  <status>Active</status>\n  <status_id>2</status_id>\n
        \ <title>ej-xshiz-0.flv</title>\n  <created_at>2013-11-21T10:12:45+00:00</created_at>\n
        \ <url>http://view.vzaar.com/1403914/video</url>\n  <thumbnail_url>http://view.vzaar.com/1403914/thumb</thumbnail_url>\n
        \ <play_count>0</play_count>\n  <user>\n   <author_name>api-test-user</author_name>\n
        \  <author_url>http://vzaar.com/users/api-test-user</author_url>\n   <author_account>34</author_account>\n
        \  <video_count>32</video_count>\n  </user>\n  <duration>16.92</duration>\n
        \ <height>256</height>\n  <width>320</width>\n </video>\n</videos>\n"
  recorded_at: Thu, 21 Nov 2013 16:05:02 GMT
recorded_with: VCR 2.7.0
