---
http_interactions:
- request:
    method: post
    uri: https://app.vzaar.com/api/v2/videos
    body:
      encoding: UTF-8
      string: '{"guid":"tnFoyZg4LoOY"}'
    headers:
      X-Auth-Token:
      - xdyzFwz8DV5pq1MDGE7e
      X-Client-Id:
      - capo-sixth-gale
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":[{"message":"Invalid parameters","detail":"The provided guid
        already exists"}]}'
  recorded_at: Wed, 05 May 2021 14:55:46 GMT
recorded_with: VCR 3.0.3
