---
http_interactions:
- request:
    method: post
    uri: https://app.vzaar.com/api/v2/videos
    body:
      encoding: UTF-8
      string: '{"guid":"tnFoyZg4LoOY"}'
    headers:
      X-Auth-Token:
      - LHuEum7qhBwmBdSsq2o4
      X-Client-Id:
      - cccc-dod-dine
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":[{"message":"Invalid parameters","detail":"The provided guid
        already exists"}]}'
  recorded_at: Fri, 14 May 2021 09:29:59 GMT
recorded_with: VCR 3.0.3
