---
http_interactions:
- request:
    method: post
    uri: https://app.vzaar.com/api/v2/link_uploads
    body:
      encoding: UTF-8
      string: '{"url":"http://example.com/video.mp4","uploader":"Ruby-2.0.0"}'
    headers:
      X-Auth-Token:
      - LHuEum7qhBwmBdSsq2o4
      X-Client-Id:
      - cccc-dod-dine
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e8edad51fcf598f01487f75d64372421"
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '198'
      X-Ratelimit-Reset:
      - '1620984660'
      X-Ratelimit-Reset-In:
      - 56 seconds
    body:
      encoding: UTF-8
      string: '{"data":{"id":22987647,"title":null,"description":null,"state":"processing","private":false,"user_id":148269,"user_login":"lawrence-sdks","account_id":142646,"account_name":"lawrence-sdks","duration":null,"created_at":"2021-05-14T09:30:04.605Z","updated_at":"2021-05-14T09:30:04.605Z","url":"https://vzaar.com/videos/22987647","seo_url":null,"asset_url":"https://view.vzaar.com/22987647/video","poster_url":"https://view.vzaar.com/22987647/image","thumbnail_url":"https://view.vzaar.com/22987647/thumb","embed_code":"<div
        class=\"vz-container\" style=\"position:relative;padding-bottom:56.25%;overflow:hidden;height:0;max-width:100%;\"><iframe
        id=\"vzvd-22987647\" name=\"vzvd-22987647\" title=\"video player\" type=\"text/html\"
        width=\"100%\" height=\"100%\" frameborder=\"0\" allowfullscreen allowTransparency=\"true\"
        src=\"https://view.vzaar.com/22987647/player\" allow=\"autoplay\" class=\"video-player
        video-player-responsive\" style=\"position:absolute;top:0;left:0;\"></iframe></div>","categories":[],"adverts":[],"renditions":[]}}'
  recorded_at: Fri, 14 May 2021 09:30:04 GMT
recorded_with: VCR 3.0.3
