---
http_interactions:
- request:
    method: post
    uri: https://app.vzaar.com/api/v2/link_uploads
    body:
      encoding: UTF-8
      string: '{"url":"http://example.com/video.mp4","uploader":"Ruby-2.0.0"}'
    headers:
      X-Auth-Token:
      - xdyzFwz8DV5pq1MDGE7e
      X-Client-Id:
      - capo-sixth-gale
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7b51652eeced8914a5816eaf5886fb12"
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '191'
      X-Ratelimit-Reset:
      - '1620226560'
      X-Ratelimit-Reset-In:
      - 12 seconds
    body:
      encoding: UTF-8
      string: '{"data":{"id":22953599,"title":null,"description":null,"state":"processing","private":false,"user_id":93388,"user_login":"lawrencesears","account_id":93367,"account_name":"lawrencesears","duration":null,"created_at":"2021-05-05T14:55:49.008Z","updated_at":"2021-05-05T14:55:49.008Z","url":"https://vzaar.com/videos/22953599","seo_url":null,"asset_url":"https://view.vzaar.com/22953599/video","poster_url":"https://view.vzaar.com/22953599/image","thumbnail_url":"https://view.vzaar.com/22953599/thumb","embed_code":"<div
        class=\"vz-container\" style=\"position:relative;padding-bottom:56.25%;overflow:hidden;height:0;max-width:100%;\"><iframe
        id=\"vzvd-22953599\" name=\"vzvd-22953599\" title=\"video player\" type=\"text/html\"
        width=\"100%\" height=\"100%\" frameborder=\"0\" allowfullscreen allowTransparency=\"true\"
        src=\"https://view.vzaar.com/22953599/player\" allow=\"autoplay\" class=\"video-player
        video-player-responsive\" style=\"position:absolute;top:0;left:0;\"></iframe></div>","categories":[],"adverts":[{"advert_id":64,"name":"IAB
        1","tag":"https://pubads.g.doubleclick.net/gampad/ads?sz=640x480&iu=/124319096/external/single_ad_samples&ciu_szs=300x250&impl=s&gdfp_req=1&env=vp&output=vast&unviewed_position_start=1&cust_params=deployment%3Ddevsite%26sample_ct%3Dlinear&correlator=","position":"pre","placement_scope":"user","created_at":"2020-12-17T10:45:45.000Z","updated_at":"2020-12-17T10:45:45.000Z"}],"renditions":[]}}'
  recorded_at: Wed, 05 May 2021 14:55:49 GMT
recorded_with: VCR 3.0.3
