---
http_interactions:
- request:
    method: post
    uri: https://app.vzaar.com/api/v2/signature/multipart/2
    body:
      encoding: UTF-8
      string: '{"filename":"video.mp4","filesize":null,"uploader":"Ruby-2.0.0"}'
    headers:
      X-Auth-Token:
      - xdyzFwz8DV5pq1MDGE7e
      X-Client-Id:
      - capo-sixth-gale
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":[{"message":"Invalid parameters","detail":"Filesize must
        be between 5MB and 5TB"}]}'
  recorded_at: Wed, 05 May 2021 14:55:44 GMT
recorded_with: VCR 3.0.3
