---
http_interactions:
- request:
    method: post
    uri: https://app.vzaar.com/api/v2/signature/multipart/2
    body:
      encoding: UTF-8
      string: '{"filename":"video.mp4","filesize":null,"uploader":"Ruby-2.0.0"}'
    headers:
      X-Auth-Token:
      - LHuEum7qhBwmBdSsq2o4
      X-Client-Id:
      - cccc-dod-dine
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":[{"message":"Invalid parameters","detail":"Filesize must
        be between 5MB and 5TB"}]}'
  recorded_at: Fri, 14 May 2021 09:29:56 GMT
recorded_with: VCR 3.0.3
