---
http_interactions:
- request:
    method: get
    uri: https://app.vzaar.com/api/v2/videos/1552452
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Auth-Token:
      - xdyzFwz8DV5pq1MDGE7e
      X-Client-Id:
      - capo-sixth-gale
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"18c3dfc4be88038be29513ce84a0d931"
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '196'
      X-Ratelimit-Reset:
      - '1620226560'
      X-Ratelimit-Reset-In:
      - 15 seconds
    body:
      encoding: UTF-8
      string: '{"data":{"id":1552452,"title":"LS TEST VIDEO","description":"","state":"ready","private":false,"user_id":93388,"user_login":"lawrencesears","account_id":93367,"account_name":"lawrencesears","duration":66.73,"created_at":"2014-03-25T15:51:51.000Z","updated_at":"2020-07-05T03:17:47.000Z","url":"https://vzaar.com/videos/1552452","seo_url":null,"asset_url":"https://view.vzaar.com/1552452/video","poster_url":"https://view.vzaar.com/1552452/image","thumbnail_url":"https://view.vzaar.com/1552452/thumb","embed_code":"<div
        class=\"vz-container\" style=\"position:relative;padding-bottom:61.719%;overflow:hidden;height:0;max-width:100%;\"><iframe
        id=\"vzvd-1552452\" name=\"vzvd-1552452\" title=\"video player\" type=\"text/html\"
        width=\"100%\" height=\"100%\" frameborder=\"0\" allowfullscreen allowTransparency=\"true\"
        src=\"https://view.vzaar.com/1552452/player\" allow=\"autoplay\" class=\"video-player
        video-player-responsive\" style=\"position:absolute;top:0;left:0;\"></iframe></div>","categories":[],"adverts":[{"advert_id":64,"name":"IAB
        1","tag":"https://pubads.g.doubleclick.net/gampad/ads?sz=640x480&iu=/124319096/external/single_ad_samples&ciu_szs=300x250&impl=s&gdfp_req=1&env=vp&output=vast&unviewed_position_start=1&cust_params=deployment%3Ddevsite%26sample_ct%3Dlinear&correlator=","position":"pre","placement_scope":"user","created_at":"2020-12-17T10:45:45.000Z","updated_at":"2020-12-17T10:45:45.000Z"}],"renditions":[],"legacy_renditions":[{"id":2239831,"type":"standard","width":1280,"height":794,"bitrate":824,"status":"Finished"}],"subtitles":[]}}'
  recorded_at: Wed, 05 May 2021 14:55:45 GMT
recorded_with: VCR 3.0.3
