---
http_interactions:
- request:
    method: get
    uri: https://app.vzaar.com/api/v2/videos/22985067
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Auth-Token:
      - LHuEum7qhBwmBdSsq2o4
      X-Client-Id:
      - cccc-dod-dine
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d0e977a40bdf281f42127c8cfc7ba52d"
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '158'
      X-Ratelimit-Reset:
      - '1620984600'
      X-Ratelimit-Reset-In:
      - 3 seconds
    body:
      encoding: UTF-8
      string: '{"data":{"id":22985067,"title":"LS TEST VIDEO","description":"","state":"ready","private":false,"user_id":148269,"user_login":"lawrence-sdks","account_id":142646,"account_name":"lawrence-sdks","duration":8930.0,"created_at":"2021-05-13T16:40:29.000Z","updated_at":"2021-05-14T09:29:54.000Z","url":"https://vzaar.com/videos/22985067","seo_url":null,"asset_url":"https://view.vzaar.com/22985067/video","poster_url":"https://view.vzaar.com/22985067/image","thumbnail_url":"https://view.vzaar.com/22985067/thumb","embed_code":"<div
        class=\"vz-container\" style=\"position:relative;padding-bottom:56.25%;overflow:hidden;height:0;max-width:100%;\"><iframe
        id=\"vzvd-22985067\" name=\"vzvd-22985067\" title=\"video player\" type=\"text/html\"
        width=\"100%\" height=\"100%\" frameborder=\"0\" allowfullscreen allowTransparency=\"true\"
        src=\"https://view.vzaar.com/22985067/player\" allow=\"autoplay\" class=\"video-player
        video-player-responsive\" style=\"position:absolute;top:0;left:0;\"></iframe></div>","categories":[],"adverts":[],"renditions":[{"id":7632635,"code":"ld","width":480,"height":270,"bitrate":365,"framerate":"60.0","status":"finished","size_in_bytes":327495971,"url":"https://view.vzaar.com/22985067/download/ld"},{"id":7632636,"code":"magic","width":1280,"height":720,"bitrate":1276,"framerate":"60.0","status":"finished","size_in_bytes":1366171864,"url":"https://view.vzaar.com/22985067/download/magic"},{"id":7632637,"code":"sd_higher","width":960,"height":540,"bitrate":1200,"framerate":"60.0","status":"skipped","size_in_bytes":0,"url":null},{"id":7632638,"code":"hd_720","width":1280,"height":720,"bitrate":2500,"framerate":"60.0","status":"skipped","size_in_bytes":0,"url":null}],"subtitles":[]}}'
  recorded_at: Fri, 14 May 2021 09:29:57 GMT
recorded_with: VCR 3.0.3
