---
http_interactions:
- request:
    method: patch
    uri: https://app.vzaar.com/api/v2/videos/14650273/image
    body:
      encoding: UTF-8
      string: '{"time":3}'
    headers:
      X-Auth-Token:
      - xdyzFwz8DV5pq1MDGE7e
      X-Client-Id:
      - capo-sixth-gale
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '183'
      X-Ratelimit-Reset:
      - '1620226560'
      X-Ratelimit-Reset-In:
      - 6 seconds
    body:
      encoding: UTF-8
      string: '{"data":{"id":14650273,"title":"my-video","description":null,"state":"ready","private":false,"user_id":93388,"user_login":"lawrencesears","account_id":93367,"account_name":"lawrencesears","duration":7.5,"created_at":"2018-05-21T13:51:29.000Z","updated_at":"2021-05-05T14:48:31.000Z","url":"https://vzaar.com/videos/14650273","seo_url":null,"asset_url":"https://view.vzaar.com/14650273/video","poster_url":"https://view.vzaar.com/14650273/image","thumbnail_url":"https://view.vzaar.com/14650273/thumb","embed_code":"<div
        class=\"vz-container\" style=\"position:relative;padding-bottom:56.25%;overflow:hidden;height:0;max-width:100%;\"><iframe
        id=\"vzvd-14650273\" name=\"vzvd-14650273\" title=\"video player\" type=\"text/html\"
        width=\"100%\" height=\"100%\" frameborder=\"0\" allowfullscreen allowTransparency=\"true\"
        src=\"https://view.vzaar.com/14650273/player\" allow=\"autoplay\" class=\"video-player
        video-player-responsive\" style=\"position:absolute;top:0;left:0;\"></iframe></div>","categories":[],"adverts":[{"advert_id":64,"name":"IAB
        1","tag":"https://pubads.g.doubleclick.net/gampad/ads?sz=640x480&iu=/124319096/external/single_ad_samples&ciu_szs=300x250&impl=s&gdfp_req=1&env=vp&output=vast&unviewed_position_start=1&cust_params=deployment%3Ddevsite%26sample_ct%3Dlinear&correlator=","position":"pre","placement_scope":"user","created_at":"2020-12-17T10:45:45.000Z","updated_at":"2020-12-17T10:45:45.000Z"}],"renditions":[{"id":692199,"code":"hd_720","width":1280,"height":720,"bitrate":2500,"framerate":"60.0","status":"finished","size_in_bytes":2686075,"url":"https://view.vzaar.com/14650273/download/hd_720"},{"id":692200,"code":"magic","width":960,"height":540,"bitrate":1749,"framerate":"29.97","status":"finished","size_in_bytes":1984871,"url":"https://view.vzaar.com/14650273/download/magic"},{"id":692201,"code":"sd_lower","width":640,"height":360,"bitrate":730,"framerate":"60.0","status":"finished","size_in_bytes":933380,"url":"https://view.vzaar.com/14650273/download/sd_lower"}],"subtitles":[]}}'
  recorded_at: Wed, 05 May 2021 14:55:54 GMT
recorded_with: VCR 3.0.3
