---
http_interactions:
- request:
    method: get
    uri: https://app.vzaar.com/api/v2/videos?per_page=3
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Auth-Token:
      - LHuEum7qhBwmBdSsq2o4
      X-Client-Id:
      - cccc-dod-dine
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"299ccdb106870be8808b269df0135224"
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '196'
      X-Ratelimit-Reset:
      - '1620984660'
      X-Ratelimit-Reset-In:
      - 54 seconds
    body:
      encoding: UTF-8
      string: '{"data":[{"id":22985103,"title":"VoE162C01416Tam.mp4","description":"","state":"ready","private":false,"user_id":148269,"user_login":"lawrence-sdks","account_id":142646,"account_name":"lawrence-sdks","duration":286.4,"created_at":"2021-05-13T16:47:33.000Z","updated_at":"2021-05-13T21:04:06.000Z","url":"https://vzaar.com/videos/22985103","seo_url":null,"asset_url":"https://view.vzaar.com/22985103/video","poster_url":"https://view.vzaar.com/22985103/image","thumbnail_url":"https://view.vzaar.com/22985103/thumb","embed_code":"<div
        class=\"vz-container\" style=\"position:relative;padding-bottom:62.5%;overflow:hidden;height:0;max-width:100%;\"><iframe
        id=\"vzvd-22985103\" name=\"vzvd-22985103\" title=\"video player\" type=\"text/html\"
        width=\"100%\" height=\"100%\" frameborder=\"0\" allowfullscreen allowTransparency=\"true\"
        src=\"https://view.vzaar.com/22985103/player\" allow=\"autoplay\" class=\"video-player
        video-player-responsive\" style=\"position:absolute;top:0;left:0;\"></iframe></div>","categories":[],"adverts":[],"renditions":[{"id":7632752,"code":"magic","width":1440,"height":900,"bitrate":339,"framerate":"60.0","status":"finished","size_in_bytes":16475600,"url":"https://view.vzaar.com/22985103/download/magic"},{"id":7632753,"code":"ld","width":480,"height":300,"bitrate":365,"framerate":"60.0","status":"skipped","size_in_bytes":0,"url":null},{"id":7632754,"code":"hd_720","width":1280,"height":800,"bitrate":2500,"framerate":"60.0","status":"skipped","size_in_bytes":0,"url":null},{"id":7632760,"code":"sd_higher","width":960,"height":600,"bitrate":1200,"framerate":"60.0","status":"skipped","size_in_bytes":0,"url":null}]},{"id":22985102,"titl[...]
- request:
    method: get
    uri: https://app.vzaar.com/api/v2/videos
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Auth-Token:
      - LHuEum7qhBwmBdSsq2o4
      X-Client-Id:
      - cccc-dod-dine
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1eaa8ece68720034c87afaf242ed7875"
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-R[...]
