---
http_interactions:
- request:
    method: get
    uri: https://app.vzaar.com/api/v2/videos?per_page=3
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Auth-Token:
      - xdyzFwz8DV5pq1MDGE7e
      X-Client-Id:
      - capo-sixth-gale
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"27b46be48d332f302fbfea2f2da86579"
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '189'
      X-Ratelimit-Reset:
      - '1620226560'
      X-Ratelimit-Reset-In:
      - 10 seconds
    body:
      encoding: UTF-8
      string: '{"data":[{"id":22422431,"title":"The Old Bakery","description":"","state":"ready","private":false,"user_id":93388,"user_login":"lawrencesears","account_id":93367,"account_name":"lawrencesears","duration":326.4,"created_at":"2020-12-24T20:49:18.000Z","updated_at":"2021-05-05T12:03:01.000Z","url":"https://vzaar.com/videos/22422431","seo_url":null,"asset_url":"https://view.vzaar.com/22422431/video","poster_url":"https://view.vzaar.com/22422431/image","thumbnail_url":"https://view.vzaar.com/22422431/thumb","embed_code":"<div
        class=\"vz-container\" style=\"position:relative;padding-bottom:56.25%;overflow:hidden;height:0;max-width:100%;\"><iframe
        id=\"vzvd-22422431\" name=\"vzvd-22422431\" title=\"video player\" type=\"text/html\"
        width=\"100%\" height=\"100%\" frameborder=\"0\" allowfullscreen allowTransparency=\"true\"
        src=\"https://view.vzaar.com/22422431/player\" allow=\"autoplay\" class=\"video-player
        video-player-responsive\" style=\"position:absolute;top:0;left:0;\"></iframe></div>","categories":[],"adverts":[{"advert_id":64,"name":"IAB
        1","tag":"https://pubads.g.doubleclick.net/gampad/ads?sz=640x480&iu=/124319096/external/single_ad_samples&ciu_szs=300x250&impl=s&gdfp_req=1&env=vp&output=vast&unviewed_position_start=1&cust_params=deployment%3Ddevsite%26sample_ct%3Dlinear&correlator=","position":"pre","placement_scope":"user","created_at":"2020-12-17T10:45:45.000Z","updated_at":"2020-12-17T10:45:45.000Z"}],"renditions":[{"id":6125073,"code":"magic","width":3840,"height":2160,"bitrate":6999,"framerate":"60.0","status":"finished","size_in_bytes":291163901,"url":"https://view.vzaar.com/22422431/download/magic"}]},{"id":15380130,"title":null,"description":null,"state":"ready","private":false,"user_id":93388,"user_login":"lawrencesears","account_id":93367,"account_name":"lawrencesears","duration":0.8,"created_at":"2018-07-18T11:55:27.000Z","updated_at":"2018-07-18T15:04:27.000Z","url":"https://vzaar.com/videos/15380130","seo_url":null,"asset_url":"https://view.vzaar.com/15380130/video","poster_url":"https://view.vzaar.com/15380130/image","[...]
- request:
    method: get
    uri: https://app.vzaar.com/api/v2/videos
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Auth-Token:
      - xdyzFwz8DV5pq1MDGE7e
      X-Client-Id:
      - capo-sixth-gale
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"97e6ba596b3e8463d5d5b3ba39aca453"
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit[...]
