---
http_interactions:
- request:
    method: get
    uri: https://app.vzaar.com/api/v2/videos?page=4&per_page=3
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Auth-Token:
      - xdyzFwz8DV5pq1MDGE7e
      X-Client-Id:
      - capo-sixth-gale
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c04cc0c58107b8ef68d59d6cd4db3d98"
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '185'
      X-Ratelimit-Reset:
      - '1620226560'
      X-Ratelimit-Reset-In:
      - 8 seconds
    body:
      encoding: UTF-8
      string: '{"data":[{"id":15362340,"title":"vzb9e43b87c7a54c3b8d0a8cbb4f0a525f.mp3","description":"","state":"ready","private":false,"user_id":93388,"user_login":"lawrencesears","account_id":93367,"account_name":"lawrencesears","duration":26.9,"created_at":"2018-07-17T08:18:01.000Z","updated_at":"2020-03-16T00:01:47.000Z","url":"https://vzaar.com/videos/15362340","seo_url":null,"asset_url":"https://view.vzaar.com/15362340/video","poster_url":"https://view.vzaar.com/15362340/image","thumbnail_url":"https://view.vzaar.com/15362340/thumb","embed_code":"<iframe
        id=\"vzvd-15362340\" name=\"vzvd-15362340\" title=\"video player\" type=\"text/html\"
        width=\"320\" height=\"72\" frameborder=\"0\" allowfullscreen allowTransparency=\"true\"
        src=\"https://view.vzaar.com/15362340/player?ao=1\" allow=\"autoplay\" class=\"video-player\"></iframe>","categories":[],"adverts":[{"advert_id":64,"name":"IAB
        1","tag":"https://pubads.g.doubleclick.net/gampad/ads?sz=640x480&iu=/124319096/external/single_ad_samples&ciu_szs=300x250&impl=s&gdfp_req=1&env=vp&output=vast&unviewed_position_start=1&cust_params=deployment%3Ddevsite%26sample_ct%3Dlinear&correlator=","position":"pre","placement_scope":"user","created_at":"2020-12-17T10:45:45.000Z","updated_at":"2020-12-17T10:45:45.000Z"}],"renditions":[{"id":787345,"code":"audio","width":320,"height":72,"bitrate":128,"framerate":null,"status":"finished","size_in_bytes":431515,"url":"https://view.vzaar.com/15362340/download/audio"}]},{"id":15362339,"title":"tG6mdXRXMYNA_1280_720_2487.mp4","description":"","state":"ready","private":false,"user_id":93388,"user_login":"lawrencesears","account_id":93367,"account_name":"lawrencesears","duration":46.4,"created_at":"2018-07-17T08:18:00.000Z","updated_at":"2020-03-16T00:01:45.000Z","url":"https://vzaar.com/videos/15362339","seo_url":null,"asset_url":"https://view.vzaar.com/15362339/video","poster_url":"https://view.vza[...]
- request:
    method: get
    uri: https://app.vzaar.com/api/v2/videos
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Auth-Token:
      - xdyzFwz8DV5pq1MDGE7e
      X-Client-Id:
      - capo-sixth-gale
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c9ffd2d049fd6057b0b40cef4b73b9c9"
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit[...]
