---
http_interactions:
- request:
    method: get
    uri: https://app.vzaar.com/api/v2/videos?page=4&per_page=3
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Auth-Token:
      - LHuEum7qhBwmBdSsq2o4
      X-Client-Id:
      - cccc-dod-dine
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"96061b4122e6a67968301c8331bf8da6"
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '192'
      X-Ratelimit-Reset:
      - '1620984660'
      X-Ratelimit-Reset-In:
      - 48 seconds
    body:
      encoding: UTF-8
      string: '{"data":[],"meta":{"total_count":7,"links":{"first":"https://app.vzaar.com/api/v2/videos?order=asc&page=1&per_page=3&state=ready","next":null,"previous":"https://app.vzaar.com/api/v2/videos?order=asc&page=3&per_page=3&state=ready","last":"https://app.vzaar.com/api/v2/videos?order=asc&page=3&per_page=3&state=ready"}}}'
  recorded_at: Fri, 14 May 2021 09:30:12 GMT
- request:
    method: get
    uri: https://app.vzaar.com/api/v2/videos
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Auth-Token:
      - LHuEum7qhBwmBdSsq2o4
      X-Client-Id:
      - cccc-dod-dine
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9f910323f8f05a8a4cb10ea01cfd40d4"
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '191'
      X-Ratelimit-Reset:
      - '1620984660'
      X-Ratelimit-Reset-In:
      - 47 seconds
    body:
      encoding: UTF-8
      string: '{"data":[{"id":22984857,"title":"LS TEST VIDEO","description":"","state":"ready","private":false,"user_id":148269,"user_login":"lawrence-sdks","account_id":142646,"account_name":"lawrence-sdks","duration":634.6,"created_at":"2021-05-13T16:11:23.000Z","updated_at":"2021-05-14T09:28:52.000Z","url":"https://vzaar.com/videos/22984857","seo_url":null,"asset_url":"https://view.vzaar.com/22984857/video","poster_url":"https://view.vzaar.com/22984857/image","thumbnail_url":"https://view.vzaar.com/22984857/thumb","embed_code":"<div
        class=\"vz-container\" style=\"position:relative;padding-bottom:56.25%;overflow:hidden;height:0;max-width:100%;\"><iframe
        id=\"vzvd-22984857\" name=\"vzvd-22984857\" title=\"video player\" type=\"text/html\"
        width=\"100%\" height=\"100%\" frameborder=\"0\" allowfullscreen allowTransparency=\"true\"
        src=\"https://view.vzaar.com/22984857/player\" allow=\"autoplay\" class=\"video-player
        video-player-responsive\" style=\"position:absolute;top:0;left:0;\"></iframe></div>","categories":[],"adverts":[],"renditions":[{"id":7632089,"code":"ld","width":480,"height":270,"bitrate":365,"framerate":"60.0","status":"finished","size_in_bytes":35108961,"url":"https://view.vzaar.com/22984857/download/ld"},{"id":7632090,"code":"hd_720","width":1280,"height":720,"bitrate":2500,"framerate":"60.0","status":"finished","size_in_bytes":213626430,"url":"https://view.vzaar.com/22984857/download/hd_720"},{"id":7632091,"code":"sd_higher","width":960,"height":540,"bitrate":1200,"framerate":"60.0","status":"finished","size_in_bytes":106440775,"url":"https://view.vzaar.com/22984857/download/sd_higher"},{"id":7632092,"code":"magic","width":1920,"height":1080,"bitrate":3499,"framerate":"60.0","status":"finished","size_in_bytes":291377364,"url":"https://view.vzaar.com/22984857/download/magic"}]}],"meta":{"total_count":7,"links":{"first":"https://app.vzaar.com/api/v2/videos?order=asc&page=1&per_page=3&state=ready","next":null,"previous":"https://app.vzaar.com/api/v2/videos?order=asc&page=2&per_page=3&state=ready","last":"https://app.vzaar.com/api/v2/videos?order=asc&page=3&per_page=3&state=ready"}}}'
  recorded_at: Fri, 14 May 2021 09:30:14 GMT
recorded_with: VCR 3.0.3
